.git
.next
.pytest_cache
.vscode
coverage
node_modules
extra
*.log
*.tsbuildinfo
.env
.env*.local

interviewos-backend/.env
interviewos-backend/.pytest_cache
interviewos-backend/venv
interviewos-backend/__pycache__
interviewos-backend/**/__pycache__
interviewos-backend/*.log
interviewos-backend/logs
interviewos-backend/uploads
interviewos-backend/chroma_db
interviewos-backend/data
interviewos-backend/tests
